.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 154, 154);
    margin-bottom: 90px;
}
.box{
    
    border: solid 2px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.greet {
    display: flex;
    justify-content: center;
}
input{
    height: 25px;
}
label{
    background-color: beige;
    height: 30px;
    width: 60px;
    margin-right: 4px;
    display: flex;
    border: solid 1px;
    align-items: center;
    justify-content: center;
}